<div class="background">

<mat-grid-list cols="4" rows="7"> 

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
        <div class="back_button"> <button mat-mini-fab (click)="goBack()"><mat-icon class="white-icon">arrow_back</mat-icon></button></div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="6"
        > 
        <div class="colum">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'name' | translate}}</mat-label>
                  <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. Pedro Martinez">
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    {{'nameREquired' | translate}} <strong>{{'Required' | translate}}</strong>
                  </mat-error>
                </mat-form-field>
                
                  <mat-form-field class="example-full-width">
                    <mat-label>{{'telephone' | translate}}</mat-label>
                    <input type="text" matInput [formControl]="telefonFormControl" placeholder="627847564">
                    <mat-error *ngIf="telefonFormControl.hasError('required')">
                      {{'telephoneRequired' | translate}} <strong>{{'Required' | translate}}</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>{{'age' | translate}}</mat-label>
                    <input type="text" matInput [formControl]="ageFormControl" placeholder="50" name="Age">
                    <mat-error *ngIf="ageFormControl.hasError('required')">
                      {{'ageRequired' | translate}} <strong>{{'Requireda' | translate}}</strong>
                    </mat-error>
                </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>{{'hab' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedHab" name="habitatje">
                      <mat-option *ngFor="let sexe of habitatjes" [value]="sexe.value">
                        {{sexe.value | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>{{'disp' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedDis" name="disponibilitat">
                      <mat-option *ngFor="let sexe of disponibilitats" [value]="sexe.value">
                        {{sexe.value | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>{{'carac' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedCaracter" name="caracters">
                      <mat-option *ngFor="let sexe of caracters" [value]="sexe.value">
                        {{sexe.value | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
              </form>
              <button mat-raised-button class="loginbtt" (click)="editUser()">{{'editUser' | translate}}</button>
              
        </div>
    </mat-grid-tile>


</mat-grid-list>


</div>