mat-grid-list{
    background-color: #FFE4B5;
}


.colum {
    width: 100%;
    margin-top: 48px; 
    margin-left: 32px; 
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

    
  .example-full-width {
    width: 100%;
  }
  .loginbtt {
    width: 128px;
    margin-top: 8px;
}

  .space_line {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: -5%;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .space_line_1 {
      width: 50%;
  }

  .space_between {
      margin-left: 16px;
      margin-right: 16px;
  }

  .back_button {
    position: absolute;
    left: 8px;
    top: 8px;
  }

  button{
    background-color: #FF8C00;
}


.background{
  background-color: #FFE4B5;
  height: 100%;
}