<mat-grid-list cols="4" rows="7"> 

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
        <div class="back_button"> <button mat-mini-fab (click)="goBack()"><mat-icon class="white-icon">arrow_back</mat-icon></button></div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="8"
        > 
        <div class="colum">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. Pedro Martinez">
                  <mat-error *ngIf="nameFormControl.hasError('email') && !nameFormControl.hasError('required')">
                    Please enter a valid name 
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                
                  <mat-form-field class="example-full-width">
                    <mat-label>Telefon</mat-label>
                    <input type="text" matInput [formControl]="telefonFormControl" placeholder="627847564">
                    <mat-error *ngIf="telefonFormControl.hasError('text') && !telefonFormControl.hasError('required')">
                      Please enter a valid phone number
                    </mat-error>
                    <mat-error *ngIf="telefonFormControl.hasError('required')">
                      Telephone is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Edat</mat-label>
                    <mat-select [(ngModel)]="selectedEdat" name="edat">
                      <mat-option *ngFor="let sexe of edats" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Habitatje</mat-label>
                    <mat-select [(ngModel)]="selectedHab" name="habitatje">
                      <mat-option *ngFor="let sexe of habitatjes" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Disponibilitat</mat-label>
                    <mat-select [(ngModel)]="selectedDis" name="disponibilitat">
                      <mat-option *ngFor="let sexe of disponibilitats" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Caràcter</mat-label>
                    <mat-select [(ngModel)]="selectedCaracter" name="caracters">
                      <mat-option *ngFor="let sexe of caracters" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  
              </form>
              <button mat-raised-button class="loginbtt" (click)="editUser()">Edit User</button>
              
        </div>
    </mat-grid-tile>


</mat-grid-list>


