<mat-grid-list cols="4" rows="7"> 

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
        <div class="back_button"> <button mat-mini-fab (click)="goBack()"><mat-icon class="white-icon">arrow_back</mat-icon></button></div> 
    </mat-grid-tile>
    
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="8"
        > 
        <div class="colum">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'name' | translate}}</mat-label>
                  <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. Pedro Martinez" name="Name">
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    {{'nameREquired' | translate}} <strong>{{'Required' | translate}}</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'age' | translate}}</mat-label>
                    <input type="text" matInput [formControl]="ageFormControl" placeholder="Ex. pedro@gmail.com" name="Age">

                    <mat-error *ngIf="ageFormControl.hasError('required')">
                      {{'ageRequired' | translate}} <strong>{{'Requireda' | translate}}</strong>
                    </mat-error>
                </mat-form-field>



                  <mat-form-field class="example-full-width">
                    <mat-label>{{'race' | translate}}</mat-label>
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>{{'city' | translate}}</mat-label>
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Number2"
                           matInput
                           [formControl]="myControl2"
                           [matAutocomplete]="auto2">
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                      <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                        {{option2}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  

                <mat-form-field appearance="fill">
                    <mat-label>{{'sexe' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedSexe" name="sexe">
                      <mat-option *ngFor="let sexe of sexes" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>{{'especie' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedEspecie" name="especie">
                      <mat-option *ngFor="let food of especies" [value]="food.value">
                        {{food.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                
                  <mat-form-field appearance="fill">
                    <mat-label>{{'caracter' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedCaracter" name="caracter">
                      <mat-option *ngFor="let sexe of caracters" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>{{'hairType' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedHairType" name="hair">
                      <mat-option *ngFor="let sexe of hair_types" [value]="sexe.value">
                        {{sexe.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  


                
                 
   
                  
              </form>

              
        </div>
    </mat-grid-tile>
        <mat-grid-tile
    [colspan]="2"
    [rowspan]="3"
    >
        <div class="default_div_left">
            <div class="radio-group">
                <div class="span_text">
                  {{'size' | translate}}:
                </div>
                <mat-radio-group
                [(ngModel)]="tamanyToggle"
                aria-label="example-radio-group"
                [disabled]="false"
                name="tamany"
                
                >
                <mat-radio-button value="small" (click)="writeTest()">
                  {{'small' | translate}}
                </mat-radio-button>
                <mat-radio-button value="medium" (click)="writeTest()">
                  {{'medium' | translate}}
                </mat-radio-button>
                <mat-radio-button value="big" (click)="writeTest()">
                  {{'big' | translate}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="radio-group">
            <div class="span_text">
              {{'castrat' | translate}}:
            </div>
            <mat-radio-group 
            value="tamany"
            [(ngModel)]="castratToggle"
            aria-label="example-radio-group-2"
            [disabled]="false"
            
            >
            <mat-radio-button value="true">
              {{'yes' | translate}}
            </mat-radio-button>
            <mat-radio-button value="false">
              {{'no' | translate}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="radio-group">
        <div class="span_text">
          {{'microxip' | translate}}:
        </div>
        <mat-radio-group 
        value="tamany"
        [(ngModel)]="microxipToggle"
        aria-label="example-radio-group-2"
        [disabled]="false"
        
        >
        <mat-radio-button value="true">
          {{'yes' | translate}}
        </mat-radio-button>
        <mat-radio-button value="false">
          {{'no' | translate}}
        </mat-radio-button>
    </mat-radio-group>
</div>
    </div>
</mat-grid-tile>
<mat-grid-tile
    [colspan]="2"
    [rowspan]="3"
    >
    <div class="default_div">
        <div class="radio-group">
            <div class="span_text">
              {{'vacunated' | translate}}:
            </div>
        <mat-radio-group
        [(ngModel)]="vacunatToggle"
        aria-label="example-radio-group"
        >
            <mat-radio-button value="true">
              {{'yes' | translate}}
            </mat-radio-button>
            <mat-radio-button value="false">
              {{'no' | translate}}
            </mat-radio-button>
        </mat-radio-group>
        </div>
        <div class="radio-group">
            <div class="span_text">
              {{'desparasitat' | translate}}:
            </div>
        <mat-radio-group
        [(ngModel)]="desparasitatToggle" 
        value="tamany"
        aria-label="example-radio-group-2"
        >
            <mat-radio-button value="true">
              {{'yes' | translate}}
            </mat-radio-button>
            <mat-radio-button value="false">
              {{'no' | translate}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >               
        <mat-form-field  class="example-full-width">
          <mat-label>{{'description' | translate}}</mat-label>
          <textarea type="text" matInput [formControl]="description" placeholder="Ex. Pedro Martinez" name="Name"></textarea>

          <mat-error *ngIf="description.hasError('required')">
            {{'descriptionRequired' | translate}} <strong>{{'Requireda' | translate}}</strong>
          </mat-error>
        </mat-form-field>


    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >               <button mat-raised-button class="loginbtt" (click)="register_animal()"> {{'editAnimal' | translate}}</button>

    </mat-grid-tile>

</mat-grid-list>


