
<mat-grid-list cols="4" rows="7"> 

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="2"
        >
        <div class="back_button"> <button mat-mini-fab (click)="goBack()"><mat-icon class="white-icon">arrow_back</mat-icon></button></div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="2"
        >
        <div class="cofig_idomas">
            <div>{{'header.title' | translate}}</div>
            Change idoma
            <mat-radio-group value="1">
                <div class="cat">
                    <img src="../../../assets/img/depositphotos_23583257-stock-photo-catalan-flag.jpg" alt="image">
                    <mat-radio-button value="1" (click)="useLanguage('cat')">Cat</mat-radio-button>

                </div>
                <div class="cast">
                    <img src="../../../assets/img/espanya.jpg" alt="image">
                    <mat-radio-button value="2">Esp</mat-radio-button>

                </div>
                <div class="en">
                    <img src="../../../assets/img/english.jpg" alt="image">
                    <mat-radio-button value="3" (click)="useLanguage('en')">Eng</mat-radio-button>

                </div>
            </mat-radio-group>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="2"
        >
        <div class="log_out">
            <button class="log_out_btt" mat-raised-button>Log out</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        > 
    </mat-grid-tile>
</mat-grid-list>

<app-footer class="footer-header"></app-footer>
