<div class="background">
<mat-grid-list cols="4" rows="7"> 

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="3"
        > 
        <div class="colum">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'email' | translate}}</mat-label>
                  <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. marc@example.com">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    {{'emailError' | translate}}
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    {{'emailRequired' | translate}} <strong>{{'Required' | translate}}</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'password' | translate}}</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" placeholder="********">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      {{'passwordRequired' | translate}} <strong>{{'Requireda' | translate}}</strong>
                    </mat-error>
                  </mat-form-field>
              </form>
              <button mat-raised-button class="loginbtt" (click)="logIn()">{{'login' | translate}}</button>
              <div class="space_line">
                <div class="space_line_1">
                    <mat-divider></mat-divider>
                </div>
                <div class="space_between">o</div>
                <div class="space_line_1">
                    <mat-divider></mat-divider>
                </div>
              </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="2"
        >
        <div class="register"> 
            <span class="spanw">{{'dontHaveAccount' | translate}}</span>
            <button mat-stroked-button (click)="gotoRegister()">{{'register' | translate}}</button>
        </div>
    </mat-grid-tile>

</mat-grid-list>

</div>