<div class="background">
  <mat-grid-list cols="4" rows="7"> 

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        >
        <div class="back_button"> <button mat-mini-fab (click)="goBack()"><mat-icon class="white-icon">arrow_back</mat-icon></button></div>
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="4"
        [rowspan]="5"
        > 
        <div class="colum">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>{{'name' | translate}}</mat-label>
                  <input type="text" matInput [formControl]="nameFormControl" placeholder="Ex. Pedro Martinez">
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    {{'nameREquired' | translate}} <strong>{{'Required' | translate}}</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'email' | translate}}</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pedro@gmail.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      {{'emailError' | translate}}
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                      {{'emailRequired' | translate}} <strong>{{'Required' | translate}}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'password' | translate}}</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" placeholder="********">
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                      {{'passwordRequired' | translate}} <strong>{{'Requireda' | translate}}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'validatePassword' | translate}}</mat-label>
                    <input type="password" matInput [formControl]="valPasswordFormControl" placeholder="********">
                    <mat-error *ngIf="valPasswordFormControl.value === passwordFormControl.value">
                      {{'validatePasswordError' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>{{'telephone' | translate}}</mat-label>
                    <input type="text" matInput [formControl]="telefonFormControl" placeholder="627847564">
                    <mat-error *ngIf="telefonFormControl.hasError('required')">
                      {{'telephoneRequired' | translate}} <strong>{{'Required' | translate}}</strong>
                    </mat-error>
                  </mat-form-field>
              </form>
              <button mat-raised-button class="loginbtt" (click)="Register()">{{'register' | translate}}</button>
              <!-- <div class="space_line">
                <div class="space_line_1">
                    <mat-divider></mat-divider>
                </div>
                <div class="space_between">o</div>
                <div class="space_line_1">
                    <mat-divider></mat-divider>
                </div>
              </div> -->
        </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        > google or facebook
    </mat-grid-tile> -->

</mat-grid-list>


</div>