
.top-spacer {
    height: 38px;
    background-color: var(--purple);
}

button {
    flex: 1;
    height: 100%;
}

.content{
    background-color: var(--purple);

}

.footer-header{
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 100%;
}




